@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
}

* {
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin: 30px 30px; */
    background-color: var(--Dark-Blue);;
    color: white;
    font-family: 'Manrope', sans-serif;
}

.container {
    margin-bottom: 20px;
}

.advice__container {
    background-color: var(--Dark-Grayish-Blue);
    width: 50%;
    margin: 0 auto;
    border-radius: 12px;
    padding: 30px;
    font-size: 15px;
    position: relative;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--Neon-Green);
    font-size: 15px;
}

.divider img {
    max-width: 100%;
    margin-top: 23px;
    margin-bottom: 23px;
}

.dice {
    background-color: var(--Neon-Green);
    border-radius: 50%;
    width: 20%;
    height: 19%;
    top: 90%;
    left: 40%;
    position: absolute;
    padding: 14px 3px 9px 12px;
}
.dice img {
    max-width: 40%;
    position: absolute;
    left: 14px;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }